$color_block: rgb(228, 228, 228);
$color_block_2: rgb(167, 167, 167);
$color_block_3: rgb(82, 82, 82);

input,
button{
    outline: none;
}

@mixin size($width, $height, $margin) {
    width: $width;
    height: $height;
    margin: $margin;
}

body{
    padding: 0 30px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.wrapper{
    display: flex;
    flex-direction: column;
}

.content{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.header{
    background-color: $color_block;
    height: 200px;
    margin-bottom: 20px;
    .title{
        background-color: $color_block_2;
        font-size: 30px;
        text-align: center;
        margin: 130px auto;
    }
}

.input_block{
    height: 40px;
    background-color: $color_block_3;
    display: flex;
    padding-top: 10px;
    justify-content: space-around;
    margin-bottom: 10px;
    .input{
        width: 70%;
    }
    input{
        width: 100%;
    }
    input:hover{
        outline: 1px solid rgb(91, 233, 91);
    }
    .button{
        margin-left: 10px;
        button{
            background-color:rgb(91, 233, 91);
            border-radius: 5px;
        }
    }
}

.tasks{
    background-color: $color_block;
    margin-bottom: 10px;
    .new_elem_li{
        display: flex;
        justify-content: space-between;
        padding-left: 10px;
        text-transform: lowercase;
        line-height: 40px;
        list-style-type: none;
        border-radius: 5px;
        &:hover .delete {
            opacity: 1;
        }
        #wrap{
            input{
                width: 15px;
                height: 15px;
            }
            span{
                margin-left: 20px;
            }
        }
    }
    .new_elem_li:hover{
        color: rgb(223, 130, 130);
    }
    .list{
        width: 100%;
    }
    .new_elem_li:nth-child(even){
        background-color: $color_block_2;
    }
    .delete{
        border-radius: 5px;
        max-height: 30px;
        background-color: rgb(223, 130, 130);
        width: 80px;
        margin: 3px 90px 3px 0;
        opacity: 0;
    }
}
#bascketTrash{ 
}

.footer{
    margin-bottom: 10px;
    font-size: 14px;
    background-color: $color_block;
    .text{
        text-align: center;
        padding: 5px ;
    }
    
}
img{
    width: 40px;
    height: 40px;
}

.block {
    &__element {
        &--modifier {}
        &--closed {}
    }
    &__elem {
        &--mod {}
    }
}

.test_mixin{
    display: flex;
}

.block-1{
    background-color: rgb(108, 172, 177);
    @include size(100px, 200px, 3px )
}
.block-2{
    background-color: rgb(56, 94, 97);
    @include size(150px, 200px, 3px )
}
.block-3{
    color: rgb(196, 195, 195);
    background-color: rgb(18, 46, 48);
    @include size(200px, 200px , 3px )
}
.block-4{
    color: rgb(190, 190, 190);
    background-color: rgb(19, 39, 41);
    @include size(250px, 200px, 3px )
}
.block-5{
    color: rgb(194, 194, 194);
    background-color: rgb(8, 27, 29);
    @include size(300px, 200px , 3px )
}


.hide{
    display: none;
}